# Neural Network model on house price and migration

## Import dependencies

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
from collections import Counter
import mitosheet
from datetime import datetime
import sklearn as skl
import tensorflow as tf
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
mitosheet.sheet()

MitoWidget(analysis_data_json='{"analysisName": "UUID-7b0e92b0-0347-4fa5-ad72-2f7d5c97ac16", "code": {"imports…

In [4]:
from mitosheet import *; register_analysis('UUID-18eca8ca-9187-4f3d-ad57-c2234e59c069')

# import mortgage30US.csv
import pandas as pd
MORTGAGE30US_csv = pd.read_csv(r'C:\Users\shliu\Documents\Class\Migration_and_Housing\Resources\MORTGAGE30US.csv')

# Changed DATE from object to datetime
import pandas as pd
MORTGAGE30US_csv['DATE'] = pd.to_datetime(MORTGAGE30US_csv['DATE'], infer_datetime_format=True, errors='coerce')

# Added column new-column-dcm7 to MORTGAGE30US_csv
MORTGAGE30US_csv.insert(1, 'new-column-dcm7', 0)

# Renamed new-column-dcm7 to Quarter in MORTGAGE30US_csv
MORTGAGE30US_csv.rename(columns={'new-column-dcm7': 'Quarter'}, inplace=True)

# Set new-column-dcm7 in MORTGAGE30US_csv to =YEAR(DATE)
MORTGAGE30US_csv['Quarter'] = YEAR(MORTGAGE30US_csv['DATE'])

# Renamed new-column-dcm7 to YEAR in MORTGAGE30US_csv
MORTGAGE30US_csv.rename(columns={'Quarter': 'YEAR'}, inplace=True)

In [5]:
MORTGAGE30US_csv['quarter'] = MORTGAGE30US_csv['DATE'].dt.quarter

In [6]:
MORTGAGE30US_csv.head()

        DATE  YEAR  MORTGAGE30US  quarter
0 1971-04-02  1971          7.33        2
1 1971-04-09  1971          7.31        2
2 1971-04-16  1971          7.31        2
3 1971-04-23  1971          7.31        2
4 1971-04-30  1971          7.29        2

In [7]:
import mitosheet
mitosheet.sheet(MORTGAGE30US_csv, view_df=True)

MitoWidget(analysis_data_json='{"analysisName": "UUID-3ce0e622-398a-4560-ac25-e0405ce5e04e", "code": {"imports…

In [8]:
from mitosheet import *; register_analysis('UUID-85d7fdf3-2be5-4185-95b6-8c638e2dbcb4')

# Reordered quarter in MORTGAGE30US_csv
MORTGAGE30US_csv_columns = [col for col in MORTGAGE30US_csv.columns if col != 'quarter']
MORTGAGE30US_csv_columns.insert(1, 'quarter')
MORTGAGE30US_csv = MORTGAGE30US_csv[MORTGAGE30US_csv_columns]

# Reordered quarter in MORTGAGE30US_csv
MORTGAGE30US_csv_columns = [col for col in MORTGAGE30US_csv.columns if col != 'quarter']
MORTGAGE30US_csv_columns.insert(1, 'quarter')
MORTGAGE30US_csv = MORTGAGE30US_csv[MORTGAGE30US_csv_columns]

In [9]:
MORTGAGE30US_csv.head()

        DATE  quarter  YEAR  MORTGAGE30US
0 1971-04-02        2  1971          7.33
1 1971-04-09        2  1971          7.31
2 1971-04-16        2  1971          7.31
3 1971-04-23        2  1971          7.31
4 1971-04-30        2  1971          7.29

In [10]:
# Combine multiple column values into a single column: http://net-informations.com/ds/pd/comb.htm
MORTGAGE30US_csv['Quarter_Year'] = MORTGAGE30US_csv['quarter'].astype(str) + 'Q' + MORTGAGE30US_csv['YEAR'].astype(str)
MORTGAGE30US_csv

           DATE  quarter  YEAR  MORTGAGE30US Quarter_Year
0    1971-04-02        2  1971          7.33       2Q1971
1    1971-04-09        2  1971          7.31       2Q1971
2    1971-04-16        2  1971          7.31       2Q1971
3    1971-04-23        2  1971          7.31       2Q1971
4    1971-04-30        2  1971          7.29       2Q1971
...         ...      ...   ...           ...          ...
2645 2021-12-09        4  2021          3.10       4Q2021
2646 2021-12-16        4  2021          3.12       4Q2021
2647 2021-12-23        4  2021          3.05       4Q2021
2648 2021-12-30        4  2021          3.11       4Q2021
2649 2022-01-06        1  2022          3.22       1Q2022

[2650 rows x 5 columns]

In [11]:
# Example groupby https://stackoverflow.com/questions/49771181/how-can-i-calculate-quarterly-average-in-python-if-i-have-values-for-each-month
# Groupby into dataframe https://technology.amis.nl/data-analytics/convert-groupby-result-on-pandas-data-frame-into-a-data-frame-using-to_frame/
Q_MORTGAGE30US = MORTGAGE30US_csv.groupby(['Quarter_Year'])['MORTGAGE30US'].mean().to_frame(name = 'Avg_Q_Mortgage').reset_index()
Q_MORTGAGE30US

    Quarter_Year  Avg_Q_Mortgage
0         1Q1972        7.349231
1         1Q1973        7.446154
2         1Q1974        8.462308
3         1Q1975        9.168462
4         1Q1976        8.873077
..           ...             ...
199       4Q2017        3.922308
200       4Q2018        4.784615
201       4Q2019        3.700000
202       4Q2020        2.760714
203       4Q2021        3.079231

[204 rows x 2 columns]

In [12]:
mitosheet.sheet()

MitoWidget(analysis_data_json='{"analysisName": "UUID-a0be6f5f-39f7-4e78-a286-ab05ae617ee1", "code": {"imports…

In [13]:
from mitosheet import *; register_analysis('UUID-65783015-d2c4-405b-b95a-7ed7e820d53b')

import pandas as pd
USSTHPI_csv = pd.read_csv(r'C:\Users\shliu\Documents\Class\Migration_and_Housing\Resources\USSTHPI.csv')

# Changed DATE from object to datetime
import pandas as pd
USSTHPI_csv['DATE'] = pd.to_datetime(USSTHPI_csv['DATE'], infer_datetime_format=True, errors='coerce')

# Added column new-column-4lw1 to USSTHPI_csv
USSTHPI_csv.insert(2, 'new-column-4lw1', 0)

# Reordered new-column-4lw1 in USSTHPI_csv
USSTHPI_csv_columns = [col for col in USSTHPI_csv.columns if col != 'new-column-4lw1']
USSTHPI_csv_columns.insert(2, 'new-column-4lw1')
USSTHPI_csv = USSTHPI_csv[USSTHPI_csv_columns]

# Renamed new-column-4lw1 to YEAR in USSTHPI_csv
USSTHPI_csv.rename(columns={'new-column-4lw1': 'YEAR'}, inplace=True)

# Added column new-column-9zd8 to USSTHPI_csv
USSTHPI_csv.insert(3, 'new-column-9zd8', 0)

# Renamed new-column-9zd8 to quarter in USSTHPI_csv
USSTHPI_csv.rename(columns={'new-column-9zd8': 'quarter'}, inplace=True)

# Added column new-column-u3ry to USSTHPI_csv
USSTHPI_csv.insert(4, 'new-column-u3ry', 0)

# Renamed new-column-u3ry to Quarter_Year in USSTHPI_csv
USSTHPI_csv.rename(columns={'new-column-u3ry': 'Quarter_Year'}, inplace=True)

# Set new-column-4lw1 in USSTHPI_csv to =YEAR(DATE)
USSTHPI_csv['YEAR'] = YEAR(USSTHPI_csv['DATE'])

In [14]:
USSTHPI_csv['quarter'] = USSTHPI_csv['DATE'].dt.quarter
USSTHPI_csv

          DATE  USSTHPI  YEAR  quarter  Quarter_Year
0   1975-01-01    59.86  1975        1             0
1   1975-04-01    60.85  1975        2             0
2   1975-07-01    61.16  1975        3             0
3   1975-10-01    62.24  1975        4             0
4   1976-01-01    62.88  1976        1             0
..         ...      ...   ...      ...           ...
182 2020-07-01   463.49  2020        3             0
183 2020-10-01   473.58  2020        4             0
184 2021-01-01   484.41  2021        1             0
185 2021-04-01   510.86  2021        2             0
186 2021-07-01   539.53  2021        3             0

[187 rows x 5 columns]

In [15]:
USSTHPI_csv['Quarter_Year'] = USSTHPI_csv['quarter'].astype(str) + 'Q' + USSTHPI_csv['YEAR'].astype(str)
USSTHPI_csv

          DATE  USSTHPI  YEAR  quarter Quarter_Year
0   1975-01-01    59.86  1975        1       1Q1975
1   1975-04-01    60.85  1975        2       2Q1975
2   1975-07-01    61.16  1975        3       3Q1975
3   1975-10-01    62.24  1975        4       4Q1975
4   1976-01-01    62.88  1976        1       1Q1976
..         ...      ...   ...      ...          ...
182 2020-07-01   463.49  2020        3       3Q2020
183 2020-10-01   473.58  2020        4       4Q2020
184 2021-01-01   484.41  2021        1       1Q2021
185 2021-04-01   510.86  2021        2       2Q2021
186 2021-07-01   539.53  2021        3       3Q2021

[187 rows x 5 columns]

In [16]:
mitosheet.sheet(USSTHPI_csv, Q_MORTGAGE30US)

MitoWidget(analysis_data_json='{"analysisName": "UUID-8304c68a-e4a6-43ac-9fbb-91594642cca2", "code": {"imports…

In [17]:
from mitosheet import *; register_analysis('UUID-5ea90577-0aad-48dc-abe4-ef00971f2ae1')

# Merged USSTHPI_csv and Q_MORTGAGE30US
USSTHPI_csv_tmp = USSTHPI_csv.drop(['quarter', 'YEAR', 'DATE'], axis=1)
df3 = USSTHPI_csv_tmp.merge(Q_MORTGAGE30US, left_on=['Quarter_Year'], right_on=['Quarter_Year'], how='inner', suffixes=['_USSTHPI_csv', '_Q_MORTGAGE30US'])

# Reordered Quarter_Year in df3
df3_columns = [col for col in df3.columns if col != 'Quarter_Year']
df3_columns.insert(0, 'Quarter_Year')
df3 = df3[df3_columns]

# Renamed df3 to HPI_mortgage
HPI_mortgage = df3

In [18]:
HPI_mortgage.head()

  Quarter_Year  USSTHPI  Avg_Q_Mortgage
0       1Q1975    59.86        9.168462
1       2Q1975    60.85        8.875385
2       3Q1975    61.16        8.983846
3       4Q1975    62.24        9.160769
4       1Q1976    62.88        8.873077

In [19]:
import mitosheet
mitosheet.sheet(HPI_mortgage, view_df=True)

MitoWidget(analysis_data_json='{"analysisName": "UUID-f0cd17f1-388e-4e06-a3e2-ebc3de3397f3", "code": {"imports…

In [20]:
# Descriptive statistics
HPI_mortgage.describe()

          USSTHPI  Avg_Q_Mortgage
count  187.000000      187.000000
mean   238.514171        7.806211
std    117.692044        3.398563
min     59.860000        2.760714
25%    138.635000        4.959071
50%    209.850000        7.295833
75%    336.110000        9.786923
max    539.530000       17.735714

## Create neural network model

In [21]:
X = HPI_mortgage['USSTHPI'].values.reshape(-1, 1)
y = HPI_mortgage['Avg_Q_Mortgage']

In [22]:
X.shape

(187, 1)

In [23]:
# Use sklearn to split dataset
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [24]:
# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

In [25]:
# Add our first Dense layer, including the input layer
nn_model.add(tf.keras.layers.Dense(units=2, activation="sigmoid", input_dim = len(X_train[0])))

In [26]:
# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=1))

In [27]:
# Check the structure of the Sequential model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 2)                 4

 dense_1 (Dense)             (None, 1)                 3

=================================================================
Total params: 7
Trainable params: 7
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [29]:
# Fit the model to the training data
fit_model = nn_model.fit(X_train, y_train, epochs=100)

Epoch 1/100
5/5 [==============================] - 1s 5ms/step - loss: 6.5092 - accuracy: 0.0000e+00
Epoch 2/100
5/5 [==============================] - 0s 4ms/step - loss: 6.1571 - accuracy: 0.0000e+00
Epoch 3/100
5/5 [==============================] - 0s 5ms/step - loss: 5.8268 - accuracy: 0.0000e+00
Epoch 4/100
5/5 [==============================] - 0s 4ms/step - loss: 5.4974 - accuracy: 0.0000e+00
Epoch 5/100
5/5 [==============================] - 0s 4ms/step - loss: 5.1695 - accuracy: 0.0000e+00
Epoch 6/100
5/5 [==============================] - 0s 4ms/step - loss: 4.8547 - accuracy: 0.0000e+00
Epoch 7/100
5/5 [==============================] - 0s 3ms/step - loss: 4.5405 - accuracy: 0.0000e+00
Epoch 8/100
5/5 [==============================] - 0s 3ms/step - loss: 4.2389 - accuracy: 0.0000e+00
Epoch 9/100
5/5 [==============================] - 0s 4ms/step - loss: 3.9295 - accuracy: 0.0000e+00
Epoch 10/100
5/5 [==============================] - 0s 5ms/step - loss: 3.6322 - accuracy: 0.0000e+00
Epoch 11/100
5/5 [==============================] - 0s 4ms/step - loss: 3.3336 - accuracy: 0.0000e+00
Epoch 12/100
5/5 [==============================] - 0s 4ms/step - loss: 3.0434 - accuracy: 0.0000e+00
Epoch 13/100
5/5 [==============================] - 0s 4ms/step - loss: 2.7530 - accuracy: 0.0000e+00
Epoch 14/100
5/5 [==============================] - 0s 4ms/step - loss: 2.4717 - accuracy: 0.0000e+00
Epoch 15/100
5/5 [==============================] - 0s 4ms/step - loss: 2.1849 - accuracy: 0.0000e+00
Epoch 16/100
5/5 [==============================] - 0s 5ms/step - loss: 1.9099 - accuracy: 0.0000e+00
Epoch 17/100
5/5 [==============================] - 0s 4ms/step - loss: 1.6298 - accuracy: 0.0000e+00
Epoch 18/100
5/5 [==============================] - 0s 4ms/step - loss: 1.3521 - accuracy: 0.0000e+00
Epoch 19/100
5/5 [==============================] - 0s 4ms/step - loss: 1.0809 - accuracy: 0.0000e+00
Epoch 20/100
5/5 [==============================] - 0s 4ms/step - loss: 0.7980 - accuracy: 0.0000e+00
Epoch 21/100
5/5 [==============================] - 0s 4ms/step - loss: 0.5250 - accuracy: 0.0000e+00
Epoch 22/100
5/5 [==============================] - 0s 4ms/step - loss: 0.2478 - accuracy: 0.0000e+00
Epoch 23/100
5/5 [==============================] - 0s 5ms/step - loss: -0.0301 - accuracy: 0.0000e+00
Epoch 24/100
5/5 [==============================] - 0s 4ms/step - loss: -0.3096 - accuracy: 0.0000e+00
Epoch 25/100
5/5 [==============================] - 0s 4ms/step - loss: -0.5814 - accuracy: 0.0000e+00
Epoch 26/100
5/5 [==============================] - 0s 4ms/step - loss: -0.8695 - accuracy: 0.0000e+00
Epoch 27/100
5/5 [==============================] - 0s 4ms/step - loss: -1.1485 - accuracy: 0.0000e+00
Epoch 28/100
5/5 [==============================] - 0s 3ms/step - loss: -1.4344 - accuracy: 0.0000e+00
Epoch 29/100
5/5 [==============================] - 0s 4ms/step - loss: -1.7208 - accuracy: 0.0000e+00
Epoch 30/100
5/5 [==============================] - 0s 4ms/step - loss: -2.0079 - accuracy: 0.0000e+00
Epoch 31/100
5/5 [==============================] - 0s 4ms/step - loss: -2.2948 - accuracy: 0.0000e+00
Epoch 32/100
5/5 [==============================] - 0s 4ms/step - loss: -2.5955 - accuracy: 0.0000e+00
Epoch 33/100
5/5 [==============================] - 0s 4ms/step - loss: -2.8915 - accuracy: 0.0000e+00
Epoch 34/100
5/5 [==============================] - 0s 4ms/step - loss: -3.1967 - accuracy: 0.0000e+00
Epoch 35/100
5/5 [==============================] - 0s 4ms/step - loss: -3.5042 - accuracy: 0.0000e+00
Epoch 36/100
5/5 [==============================] - 0s 4ms/step - loss: -3.8153 - accuracy: 0.0000e+00
Epoch 37/100
5/5 [==============================] - 0s 5ms/step - loss: -4.1366 - accuracy: 0.0000e+00
Epoch 38/100
5/5 [==============================] - 0s 5ms/step - loss: -4.4682 - accuracy: 0.0000e+00
Epoch 39/100
5/5 [==============================] - 0s 4ms/step - loss: -4.8018 - accuracy: 0.0000e+00
Epoch 40/100
5/5 [==============================] - 0s 5ms/step - loss: -5.1506 - accuracy: 0.0000e+00
Epoch 41/100
5/5 [==============================] - 0s 4ms/step - loss: -5.5016 - accuracy: 0.0000e+00
Epoch 42/100
5/5 [==============================] - 0s 4ms/step - loss: -5.8686 - accuracy: 0.0000e+00
Epoch 43/100
5/5 [==============================] - 0s 4ms/step - loss: -6.2485 - accuracy: 0.0000e+00
Epoch 44/100
5/5 [==============================] - 0s 4ms/step - loss: -6.6450 - accuracy: 0.0000e+00
Epoch 45/100
5/5 [==============================] - 0s 4ms/step - loss: -7.0421 - accuracy: 0.0000e+00
Epoch 46/100
5/5 [==============================] - 0s 4ms/step - loss: -7.4693 - accuracy: 0.0000e+00
Epoch 47/100
5/5 [==============================] - 0s 4ms/step - loss: -7.9342 - accuracy: 0.0000e+00
Epoch 48/100
5/5 [==============================] - 0s 4ms/step - loss: -8.4103 - accuracy: 0.0000e+00
Epoch 49/100
5/5 [==============================] - 0s 3ms/step - loss: -8.9265 - accuracy: 0.0000e+00
Epoch 50/100
5/5 [==============================] - 0s 4ms/step - loss: -9.4719 - accuracy: 0.0000e+00
Epoch 51/100
5/5 [==============================] - 0s 4ms/step - loss: -10.0663 - accuracy: 0.0000e+00
Epoch 52/100
5/5 [==============================] - 0s 4ms/step - loss: -10.7374 - accuracy: 0.0000e+00
Epoch 53/100
5/5 [==============================] - 0s 4ms/step - loss: -11.4636 - accuracy: 0.0000e+00
Epoch 54/100
5/5 [==============================] - 0s 3ms/step - loss: -12.2965 - accuracy: 0.0000e+00
Epoch 55/100
5/5 [==============================] - 0s 4ms/step - loss: -13.2209 - accuracy: 0.0000e+00
Epoch 56/100
5/5 [==============================] - 0s 4ms/step - loss: -14.3265 - accuracy: 0.0000e+00
Epoch 57/100
5/5 [==============================] - 0s 4ms/step - loss: -15.6833 - accuracy: 0.0000e+00
Epoch 58/100
5/5 [==============================] - 0s 4ms/step - loss: -17.4641 - accuracy: 0.0000e+00
Epoch 59/100
5/5 [==============================] - 0s 5ms/step - loss: -20.0946 - accuracy: 0.0000e+00
Epoch 60/100
5/5 [==============================] - 0s 4ms/step - loss: -25.0676 - accuracy: 0.0000e+00
Epoch 61/100
5/5 [==============================] - 0s 4ms/step - loss: -78.4687 - accuracy: 0.0000e+00
Epoch 62/100
5/5 [==============================] - 0s 3ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 63/100
5/5 [==============================] - 0s 3ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 64/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 65/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 66/100
5/5 [==============================] - 0s 3ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 67/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 68/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 69/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 70/100
5/5 [==============================] - 0s 3ms/step - loss: -104.2528 - accuracy: 0.0000e+00
Epoch 71/100
5/5 [==============================] - 0s 3ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 72/100
5/5 [==============================] - 0s 3ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 73/100
5/5 [==============================] - 0s 3ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 74/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 75/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 76/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 77/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 78/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 79/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 80/100

5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 81/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 82/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 83/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 84/100
5/5 [==============================] - 0s 3ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 85/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 86/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 87/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 88/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 89/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 90/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 91/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 92/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 93/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 94/100
5/5 [==============================] - 0s 5ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 95/100
5/5 [==============================] - 0s 3ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 96/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 97/100
5/5 [==============================] - 0s 4ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 98/100
5/5 [==============================] - 0s 3ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 99/100
5/5 [==============================] - 0s 3ms/step - loss: -104.2527 - accuracy: 0.0000e+00
Epoch 100/100
5/5 [==============================] - 0s 3ms/step - loss: -104.2527 - accuracy: 0.0000e+00

In [30]:
model_loss, model_accuracy = nn_model.evaluate(X_test ,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

2/2 - 0s - loss: -1.0241e+02 - accuracy: 0.0000e+00 - 474ms/epoch - 237ms/step
Loss: -102.40975189208984, Accuracy: 0.0

In [31]:
# print prediction results 
print('Coefficients:', model.coef_)
print('Intercept:', model.intercept_)
print('R2:', r2_score(y_test, y_pred))
print('mean squared error:', mean_squared_error(y_test, y_pred))

NameError: name 'model' is not defined

## Evaluate model quality

In [ ]:
print(model.coef_)
print(model.intercept_)

In [ ]:
r2_score(y, y_pred)

In [ ]:
mean_squared_error(y, y_pred)